In [1]:
import requests # you need this module to make an API call
import pandas as pd

In [2]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [3]:
response = requests.get(api_url) # Call the API using the get method and store the
                                # output of the API call in a variable called response.

In [4]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [5]:
print(data)   # print the data just to check the output or for debugging

{'message': 'success', 'people': [{'name': 'Jasmin Moghbeli', 'craft': 'ISS'}, {'name': 'Andreas Mogensen', 'craft': 'ISS'}, {'name': 'Satoshi Furukawa', 'craft': 'ISS'}, {'name': 'Konstantin Borisov', 'craft': 'ISS'}, {'name': 'Oleg Kononenko', 'craft': 'ISS'}, {'name': 'Nikolai Chub', 'craft': 'ISS'}, {'name': "Loral O'Hara", 'craft': 'ISS'}], 'number': 7}

In [6]:
print(data.get('number'))

7

In [7]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 7 astronauts on ISS
And their names are :
Jasmin Moghbeli
Andreas Mogensen
Satoshi Furukawa
Konstantin Borisov
Oleg Kononenko
Nikolai Chub
Loral O'Hara

In [8]:
## Lab start
#Import required libraries
import pandas as pd
import json

In [9]:
api_url_1="http://127.0.0.1:5000/data"
def get_number_of_jobs_T(technology):

    #your code goes here
    return technology,number_of_jobs

In [10]:
get_number_of_jobs_T("Python")

NameError: name 'number_of_jobs' is not defined

In [11]:
api_url="http://127.0.0.1:5000/data"
def get_number_of_jobs_T(technology):
    url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"
    data_1 = requests.get(url).json()
    number_of_jobs = 0
    i = 1
    while i < len(data_1):
        if technology in data_1[i]['Key Skills']:
            number_of_jobs += 1
        i+=1
    return technology,number_of_jobs

In [12]:
get_number_of_jobs_T("Python")

('Python', 1173)

In [13]:
def get_number_of_jobs_L(location):
    url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"
    data_1 = requests.get(url).json()
    number_of_jobs = 0
    i = 1
    while i < len(data_1):
        if location in data_1[i]['Location']:
            number_of_jobs += 1
        i+=1
    #your coe goes here
    return location,number_of_jobs

In [14]:
get_number_of_jobs_L(location="Los Angeles")

('Los Angeles', 639)

In [15]:
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"
data_1 = requests.get(url).json()

In [16]:
l=set()
for i in range(len(data_1)):    
    l.add(data_1[i]['Location'])

In [17]:
#your code goes here
job_location=list(l)
job_location

['Houston',
 'Baltimore',
 'New York',
 'Austin',
 'Dallas',
 'Philadelphia',
 'Boston',
 'Washington DC',
 'Los Angeles',
 'New Orleons',
 'San Francisco',
 'Detroit',
 'Seattle']

In [18]:
# your code goes here 
! pip install openpyxl
from openpyxl import Workbook

Requirement already satisfied: openpyxl in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from openpyxl) (1.1.0)

In [19]:
wb=Workbook()
wsheet = wb.active

In [20]:
#your code goes here
#wsheet.append(['Location','Number_of_Jobs'])

#for i in job_location:
 #   wsheet.append(get_number_of_jobs_L(i))

technologies_list=['C','C#','C++','Java','JavaScript','Python','Scala','Oracle','SQL Server','MySQL Server','PostgreSQL','MongoDB']
wsheet.append(['Key Skills','Number_of_Jobs'])

for i in technologies_list:
    wsheet.append(get_number_of_jobs_T(i))

In [21]:
#your code goes here
wb.save("job-postings.xlsx")

In [22]:
# your code goes here
job_postings = pd.read_excel("job-postings.xlsx")
job_postings

      Key Skills  Number_of_Jobs
0              C           13498
1             C#             333
2            C++             305
3           Java            2609
4     JavaScript             355
5         Python            1173
6          Scala              33
7         Oracle             784
8     SQL Server             250
9   MySQL Server               0
10    PostgreSQL              10
11       MongoDB             174